<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="MariaDBLocal" connectionString="Server=127.0.0.1;Uid=root;Pwd=root;Database=bootpark;" />
  </connectionStrings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
</configuration>